<form action="/sendsms" method="POST">
    <label>Contact Number:</label>
    <input type="text" name="number" required>
    <label>Message:</label>
    <input type="text" name="message" required>
    <button type="submit">Compose Text</button>
</form>
