<form action="/send" method="POST">
    <label>Contact Number:</label>
    <input type="text" name="number" value="<%= number %>" required>
    <label>Message:</label>
    <input type="text" name="message" value="<%= message %>" required>
    <button type="submit">Send SMS</button>
</form>
